body {
    background:#b3ffb3;
    margin:0;

}

nav {
    background: white;
    height: 100px;
    width:100%;
    margin-top:-1%;
    
    
}

li {
    list-style-type: none;
    padding: 10px;
    width: 75px;
    float: left;
    
}

main {
    border: none;
    float: left;
    width: 100%;
}

.section1{
    background:#b3ffb3;
    width: 100%;
    height: 100vh;
}

.section2{
    background: pink;
    width: 100%;
    height:100vh;
}



sidebar {
    border:solid;
    float: right;
    height: auto;
    width: 25%;
   
}

footer{
    background:white;
    width:100%;
    height:10em;
    float:left;
}