body {
    background:#b3ffb3;
    margin:0;

}

nav {
    background: #b3ffb3;
    height: 100px;
    width:100%;
    margin-top:-1%;
    border-radius: 10px;
    
}

li {
    list-style-type: none;
    padding: 10px;
    width: 75px;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
}

main {
    border: none;
    float: left;
    width: 100%;
}

.section1{
    background:#ffccd5;
    width: 100%;
    height: 100vh;
}

.section2{
    background: #b3ffb3;
    width: 100%;
    height:100vh;
    margin: 0;
}



sidebar {
    border:solid transparent;
    float: right;
    height: auto;
    width: 20%;
    
   
}

footer{
    background:#b3ffb3;
    width:100%;
    height:10em;
    float:left;
    border-top: solid gray 1px;
    border-style: ridge none none none;
}

.fa-facebook-square{
    position: relative;
    
}

#shades {
    width: 40%;
    height: 55%;
    background: gray;
    border: solid;
    border-style: none groove groove none;
    border-radius: 10px;
    position: absolute;
    margin-top: 8%;
    margin-left: 54%;
    padding: 1%;
    padding-bottom: 2%;
    
}


iframe {
    height: 60%;
    width:45%;
    border-radius: 20px;
    position: absolute;
    margin-left: 3%;
    top: 130%;
}

button{
    width: 20%;
    height:10%;
    border-radius: 15px; 
    position: relative;
    margin-left: 40%;
    margin-top: -5%;
}

.barbara {
    width: 30%;
    border-radius: 10%;
    border: solid black;
    border-style: none ridge ridge none;
    position: relative;
    margin-left: 5%;
    margin-top: 8%;
}


.artstatement {
    width: 25%;
    height: 10%;
    position: relative;
    top: -50%;
    left: 40%;
    font-size: 250%;
    font-style: italic;
}


#placeholder {
    background: lightgray;
    width: 15%;
    height: 100%;
    position: relative;
    margin: -6.7% 0 0 85%;
}

.scholarship {
    position: absolute;
    margin: 5% 0 0 65%;
}

.lessons {
    position: absolute;
    margin: 5% 0 0 19%;
}

.foundation {
    width: 12%;
}

a {
    list-style: none;
    padding: 30px;
    color: black;
    margin: 0;
    border: solid transparent;
}

a:hover {
    background: #ffccd5;
     transition-duration: 0.5s;
     border: solid #ffccd5;
     border-radius: 5px;
}